.header{
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 8vh;
    border-bottom-style: solid;
    border-bottom-color: #505050;
}

.name{
    width: 100%;
    height: 50%;
    position: absolute;
}

.topnav, .topnavmobile{
    width: 100%;
    height: 100%;
}

.topnav h2, .topnavmobile h2{
    display: inline-block;
    margin: 1vh 0 0 1vh;
    font-size: 4vh;
}

.topnav ul{
    display: inline-block;
    background-color:#505050;
    list-style: none;
    margin: inherit;
    padding: inherit;
    right: 0;
    width: 20%;
    height: 100%;
    float: right;
}

.topnavmobile a i{
    display: inline-block;
    right: 0;
    float: right;
    font-size: 4vh; 
    margin: 1vh 3vh 0 1vh;
}

.topnav ul li{
    display: inline;
}


.topnavbutton.active{
    border-bottom: solid;
    border-bottom-color: #42ff42 !important;
}

.modal-opener{
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .topnav{
        display: none !important;
    }
    #show-more{ 
        height:0;
        overflow: hidden;
    	-webkit-transition:-webkit-transform .3s ease;
        -moz-transition:   -moz-transform .3s ease;
        -ms-transition:    -ms-transform .3s ease;
            transition:        transform .3s ease;
        
        
       -webkit-transform: translate(0, -100%);
       -moz-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
        
    }
    #show-more>li{
        height:50%;
    }
    .topnavbutton{
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
    }
  .topnavbutton span{  
        position: absolute;
        text-align: center;
        top: 50%;
        left:50%;
        transform: translate(-50%, -59%);
        font-size: 15;
        background-color: #505050;
        color:aliceblue;
    }
    
    #show-more.active{
        height:25vh;
        background-color:#505050;
        list-style: none;
        padding: 0 0 0 0; 
        
        -webkit-transform: translate(0, 0%);
       -moz-transform: translate(0, 0%);
        -ms-transform: translate(0, 0%);
            transform: translate(0, 0%)
        
    }
}

@media only screen and (min-width: 701px) {
    .topnavmobile,#show-more{
        display: none !important;
    }

    .topnavbutton{
       position: relative;
       display: inline-block;
       width: 45%;
       height: 100%;
    }
    
    .topnavbutton span{  
        position: absolute;
        text-align: center;
        top: 50%;
        left:50%;
        transform: translate(-50%, -59%);
        font-size: 15;
        background-color: #505050;
        color:aliceblue;
    }
    
}

.body{
    position: relative;
    top:9vh;
}

.body>div{
   display: none;
}

.body>div.active{
    display: block;
}

.projects{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding: 0 15 0 15;
}

.contact{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding: 0 15 0 15;
}

.card{
    background-color: #ebeaef; /*#505050*/
    height: auto;
}

.card-text, .card-title{
    color: #505050;
}

.referenceimg{
    max-height:10%;
    max-width:10%;
}

.carouselimg{
    margin: auto;
    display: block;
}

.carousel-caption{
    color: black;
}