.header{
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: auto;
    border-bottom-style: solid;
    border-bottom-color: #505050;
}

.topnav{
    width: 100%;
}

.topnav ul{
    background-color:#505050;
    list-style: none;
    margin: inherit;
    padding: inherit;
    right: 0;
    width: 20%;
    height: 100%;
}

.topnav ul li{
    display: inline;
}

.topnavbutton{
  position: relative;
  display: inline-block;
  width: 45%;
  height: 100%;
}

.topnavbutton span{  
    position: absolute;
    text-align: center;
    top: 50%;
    left:50%;
    transform: translate(-50%, -59%);
    font-size: 15;
    background-color: #505050;
    color:aliceblue;
}

.body{
    background-color: #505050;
    width: 100%;
    padding: 70 0 15 0;
}

.projects{
    background-color: white;
    width: 100%;
    padding: 15 15 15 15;
}

.card{
    background-color: #ebeaef; /*#505050*/
    height: auto;
}

.card-text, .card-title{
    color: #505050;
}

.referenceimg{
    max-height:10%;
    max-width:10%;
}

.carouselimg{
    margin: auto;
    display: block;
}

.carousel-caption{
    color: black;
}